:root {
    --MainFontFirst: 'Barlow', sans-serif, 'Roboto', sans-serif;
    --MainFontSecond: 'Fraunces', serif;
    --typeofwhite: #FEFCF7;
    --typeofblue: #333D4B;
}

.assortments {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0px 30px;
    padding: 246px 0px;
    user-select: none;


}

.assortments__card:hover {
    img{
        filter: drop-shadow(1px 3px 3px black);
    }
}

.assortments__card {
    img{
        transition: 0.5s;
    }
    cursor: pointer;

    .assortments__card-bottom {
        display: flex;
        flex-direction: column;
        gap: 25px 0px;

        .asts__card-head {
            color: var(--typeofblue);
            text-align: center;
            font-family: var(--MainFontSecond);
            font-size: 24px;
            font-weight: 900;
            line-height: 32px;
        }

        .asts__card-text {
            color: var(--typeofblue);
            text-align: center;
            font-family: var(--MainFontFirst);
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            max-width: 255px;
            transition: 0.5s;
        }
    }
}